# Node.js .gitignore

# Logs
logs
*.log
npm-debug.log* 

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# Environment variables
.env
.env.test
.env.production

# Miscellaneous files
.DS_Store
Thumbs.db
*.tgz
